.ipynb_checkpoints
*.pyc
IEEEtranBST/
*.png

# .zip
*.zip

# .pdf
*.pdf

Seg/

# Data folder
train/
PlantCLEF2015TestDataWithAnnotations/
test/
rigidSfM/

# .db
*.db

# pickle
*.pickle

# model file
*.h5

# Assignment
Assignment_2/

# process folder
process_test/
process_train/

# .swp
*.swp

# Final_report
Final_report
